*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(129, 5, 5);
}


.login-box{
    display: flexbox;
    background-color: white;
    width: 310px;
    height: 450px;
    margin-top: 100px;
   margin-left: 540px;
    border-radius: 9px;
    position: fixed;
    
}

.input-email{
    border: 1px solid rgb(240, 239, 239);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
    margin-top: 30px;
    
}
#email{
    background-color: rgb(240, 239, 239);
    height: 100%;
    font-weight: 100;
    display: inline-flex;
    align-items: center;
}

input[type=email]{
   width: 100%;
   outline: 0;
   border: 0;
   margin-left: 10px;
}

.send{
    background-color: rgb(4, 4, 65);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    border-radius: 8px;
    margin-top: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    transition: font-size 0.5s ease-in-out;
}

.send:hover{
    font-size: 20px;
}